[2015-05-31 11:25] neothemachine opened #1 "Make tutorial accessible"
It would be nice if the tutorial would be living somewhere online (not just inside git). In the meantime: https://rawgit.com/CSTARS/ckanext-esis/master/tutorial/index.html (which however is partly broken)

[2015-06-08 13:14] jrmerz commented on #1
the tutorial is live here: tutorial.ecospectra.org.  You can serve locally with any static webserver.  What seems to be broken?

[2015-06-08 14:18] neothemachine commented on #1
Ah ok, can you link that from the README.md maybe? Hard to find otherwise, or did I miss a link somewhere?

[2015-10-28 21:38] ckingdon opened #2 "issue while uploading .xlsx"
dataset: AspenCompetitionGarden2015

While uploading "CompetitonGarden_MetaData.xlsx" user got this error (below).

I suspect this is because the spreadsheet was made on his Italian computer. I guess this is a good test for handling internationally formatted files.

I'll post a separate issue, but I also wondered how the importer would do with the Italian .csv files.

- Package ID: 52107669-7ccf-4

[2015-10-28 21:52] ckingdon opened #3 "international .csv files?"
Related to dataset AspenCompetitionGarden2015, I poking around with some other .csv files from this user.

His .csv files use a ; (semi-colon) as the separator, and floating point values in the file use a , (comma, i.e. 4.5 is 4,5).

This threw me when I tried to do some things on my own PC (not on EcoSIS).

[2015-10-28 21:55] jrmerz commented on #2
So I peeked in at this dataset and say the fubar files.  There were two issues.
- The excel file had a non utf-8 character in the header (^C).  While this character isn't supported, it shouldn't fail, it should just be stripped out.
- The csv file was not comma separated (csv = comma separated values).  It used semicolons.

I have since patched the system with the two following improvements.
- Bet

[2015-10-28 21:57] jrmerz commented on #3
@ckingdon see my comments on issue #2

As for the 4,5 instead of 4.5... we will need to discuss this further.  For now it will be on the user to supply correct integer values.

[2015-10-28 22:10] ckingdon commented on #3
I like giving options for the separator. Prabu pointed out that he thinks CSV is becoming more and more generic and many take the C to mean 'character' rather than 'comma'.

Regarding use of , instead of . for floating point numbers, I think we'll eventually need to address this at some point. Many in the international community use this format

[2015-10-28 22:14] ckingdon commented on #2
Sorry, I forgot to note that we got a "invalid utf-8 character" error at some point .. was making notes on my phone and notebook.

I should also note that, at first, it appeared that the .xlsx file hadn't uploaded at all. The page only offered the error (above), then continued to act as if it was uploading. Only when we reloaded the page, then  went to review the resources, did we realize that the

[2015-10-28 22:16] jrmerz commented on #2
Ya, the UI throw up on the condition.  I will work to fix.  The resource was added but failed to parse.

We're the issues fixed now?

[2015-10-28 22:47] ckingdon opened #4 "add user information on dataset tab"
I know you can see all activity on another tab, but this would be a nice feature on the dataset tab.

So, this ...

Last Updated	October 28, 2015, 19:42
Created	October 28, 2015, 17:11

would become ...

Last Updated	October 28, 2015, 19:42 by jrmerz
Created	October 28, 2015, 17:11 by Lorenzo Cotrozzi

[2015-10-29 21:22] ckingdon opened #5 "metadata and data file records truncated"
noticed on dataset "2015 Summer Conductance"

For "Conductance_Spec_Means_20150827.csv" resource, importer doesn't see the last spectrum, which is "L39" under the leaf column.

Also, while importing "Conductance_Metadata.xlsx", the last two records were dropped.

[2015-10-29 21:24] ckingdon opened #6 "push to search email"
When the user pushed dataset to search, the pop up says "no email will be sent", though the user had the box check to send a notification email. The user *did* get the email when the dataset made it to search.

[2015-10-29 21:25] ckingdon opened #7 "keywords don't show in search"
Not sure if this is a ckan issue, but for dataset "2015 Summer Conductance", the user entered several keywords during import, but they don't show up after the dataset is pushed to search.

[2015-10-29 21:30] ckingdon opened #8 "link on difference field names"
This has probably come up before, but is it possible to link on different field names between spectra and metadata? THere's probably a good reason to not do this, but I thought I'd check.

[2015-10-29 21:32] ckingdon opened #9 "resampled vs interpolated"
noting here that we need a better explanation for resampled vs interpolated metadata fields

[2015-10-29 22:12] jrmerz commented on #8
@ckingdon closing and moved to trello as this isn't really a bug, more a feature discussion. https://trello.com/c/hLjvQ6Kk/131-link-spectra-and-metadata

[2015-10-29 22:12] #8 closed

[2015-10-29 22:14] jrmerz commented on #9
feature discussion, moved to trello: https://trello.com/b/E3SmdKMh/ecosis-data-management-and-discovery

[2015-10-29 22:14] #9 closed

[2015-10-29 22:16] jrmerz commented on #6
This will be interesting to replicate.  Any additional information would be welcome.  Browser / OS etc.

[2015-10-29 22:17] jrmerz commented on #4
feature discussion, moved to trello: https://trello.com/c/wm40n7Nn/133-add-user-information-on-dataset-tab

[2015-10-29 22:17] #4 closed

[2015-10-29 22:41] jrmerz commented on #3
Think we need to make this a discussion in trello.  Cause it looks like a can-o-worms: https://en.wikipedia.org/wiki/Decimal_mark#Examples_of_use

[2015-11-02 18:35] jrmerz commented on #7
I looked into the dataset and saw one keyword entered.  It was showing in CKAN but not in search.  I re-pushed the dataset and the keyword now shows.  Not totally sure what the issue was.  It's possible the old keyword input was causing some badness.  I am going to close this for now.  But lets re-open if it happens again.

[2015-11-02 18:35] #7 closed

[2015-11-03 16:17] jrmerz commented on #5
This was a nice catch.  I think I have the bug nailed down.  Will be pushing fix soon.

[2015-11-03 16:25] jrmerz commented on #5
pushed.

[2015-11-03 16:25] #5 closed

[2015-11-03 23:55] ckingdon opened #10 ""View in EcoSIS Search" still buggy"
When viewing the dataset on dev-data, the "View in EcoSIS Search" link opens the exact same page in a new tab instead of showing the dataset in search.

Another thought on this .. what if the dataset has not yet been pushed? Will there still be a "View in EcoSIS Search" link? Or, if clicked, will there be a response that tells the user that the dataset has not yet been pushed?

[2015-11-04 00:12] ckingdon opened #11 ""View in EcoSIS Search" still buggy"
When viewing the dataset on dev-data, the "View in EcoSIS Search" link opens the exact same page in a new tab instead of showing the dataset in search.

Another thought on this .. what if the dataset has not yet been pushed? Will there still be a "View in EcoSIS Search" link? Or, if clicked, will there be a response that tells the user that the dataset has not yet been pushed?

[2015-11-04 00:13] #11 closed

[2015-11-04 00:15] ckingdon opened #12 "pushing unnamed dataset throws error"
The user tried to push a dataset had not yet been named. This error (below) came back. Better to catch this with a reminder that that the dataset can't be pushed to search until it has been named.

Oooh no, badness :(
Error: ValidationError:{u'Name': u'Missing value'}
Please help us fix bugs by reporting them here on GitHub!
Copy and paste message below into GitHub Issue:
- Package ID:
- Message:

[2015-11-04 00:46] jrmerz commented on #12
@ckingdon ya, that 'Create Dataset' button is styled disabled but looks like it still lets you click on it.  By default nothing should happen when it's clicked and you haven't provided a title.

[2015-11-04 00:48] jrmerz commented on #10
@ckingdon ya, this was a quick hack that needs some love.  Your conditions above are true.  I need to add some logic to the CKAN templating to check that the dataset is actually in search.

[2015-11-04 07:10] jrmerz commented on #12
Pushed fix to dev.

[2015-11-04 07:10] #12 closed

[2015-11-04 07:12] jrmerz commented on #10
Several updates on this.

- the link has been fixed. the last time the dataset was pushed is displayed as well.
- If the dataset has not been pushed, a message is shown.
- Datasets in search lists now show if they are push.

[2015-11-04 07:12] #10 closed

[2015-11-04 19:04] ckingdon commented on #2
still working with AspenCompetitionGarden2015 ...

I tested the comma/decimal issue. Both files use ; for separator.

leaf_means_df_EcoSIS_ID_commadecimal.csv
commas used instead of of decimal point

leaf_means_df_EcoSIS_SID.csv
commas replaced with decimal point

For _commadecimal.csv the spectrum preview widget doesn't show the spectrum. For the 'conventional' file that uses decimal points the s

[2015-12-03 22:21] ckingdon opened #13 "join doesn't work on 'Potato Virus Y'"
For this dataset there are several spectra csv files and one metadata xlsx file.  The join field that is specified is Plant_ID.

Row preview reports "Matches: none"

[2015-12-03 23:35] jrmerz commented on #13
This is an interesting scenario.  So the csv files are read in using the python standard library csv parser and all values are parsed as strings.  The excel file is being read in using xlrd (https://pypi.python.org/pypi/xlrd) which is reading the type information for the column, in this case a number, parsing the column as such, then I convert to string.  Which seems to be producing 2.0 instead of

[2015-12-04 00:00] jrmerz commented on #13
So was correct, number columns are parsed as floats (so 3.0 instead of 3): https://secure.simplistix.co.uk/svn/xlrd/trunk/xlrd/doc/xlrd.html?p=4966#sheet.Cell-class .  There are no great solutions here.  You can upload the file as a csv or you can mark the column as a string.  Otherwise the columns will always be interpreted as a miss match.

[2015-12-04 00:04] ckingdon commented on #13
I think I flagged this at previously .. strings interpreted as float.

Can you dictate that, if a user is going to join on a field, it will be interpreted as a string rather than a float. There aren't any situations I can think of where one would join on a floating point number.

[2015-12-04 00:13] jrmerz commented on #13
Everything in the system is stored as a string.  The problem is I don't have control over the excel parser.  The parser reads the excel file and hands my code the values.  At which point, number column cells are floats.  I then convert to a string.  So 3 is converted to 3.0 before my code executes.

You could say, well I am aware of this issue, so if my column is marked as a join column and matche

[2015-12-04 00:15] jrmerz commented on #13
Also, when you say 'strings interpreted as float', when I downloaded the file, the column was marked as a number, no?  If you mark the column as a string, this should work.

[2015-12-04 17:02] ckingdon commented on #13
Just now, I downloaded the file, used Excel to change the format of column Plant_ID from "General" to "Text", the uploaded and tried to join on Plant_ID.

The problem persists. 3 becomes 3.0 and the join is not possible.

In general, not many people are going to use an integer as their unique identifier (that CKAN will subsequently turn to a float), but it will happen. I understand the technical l

[2015-12-04 22:10] ckingdon opened #14 "can't link for Potato Virus Y"
different than the previous issue with this dataset .. the user has now updated Plant_ID to be string (i.e P01, P02, ... P80)

The metadata and data will not link on his browser/PC (mac OSX 10.7.5, firefox 30.0), yet it works on mine (ubuntu 12.04, chrome)

[2015-12-07 16:04] jrmerz commented on #14
Nice catch.  Bug is fixed here: b93701c39d7a0f8d938776426d80731370915034.  Pushed to dev.

[2015-12-07 16:04] #14 closed

[2015-12-22 17:48] jrmerz commented on #6
@ckingdon ping.  Any additional information on this?

[2015-12-22 17:49] #3 closed

[2015-12-22 17:50] #2 closed

[2015-12-22 17:53] #1 closed

[2015-12-22 19:12] ckingdon commented on #6
I'll have to wait until Aidan takes a shot at this when he next pushes a dataset. I'll email this github link to him so he knows to check.

[2016-02-02 22:58] ckingdon opened #15 "sandbox: problem occurs with long title?"
On the sandbox, while Aidan was working with an existing dataset and he extended the title (maybe too long?) he got the following error:

- Package ID: 80bb16e2-73a8-432e-b145-16aad63de73e
- Message: Request Error. Failed to update dataset.
- Code: 9
- User Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.7; rv:43.0) Gecko/20100101 Firefox/43.0
- commit: 1884e1c0366892e94ceaec4315cf21ac6dc97145
-

[2016-02-02 23:00] ckingdon opened #16 "production: maybe another 'title too long' issue"
Aidan got this error when I tried to save dataset on the Production side when extending a title.

- Package ID:
- Message: NotAuthorized:User aidanmazur not authorized to add dataset to this organization
- Code: 6
- User Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.7; rv:43.0) Gecko/20100101 Firefox/43.0
- commit: 1884e1c0366892e94ceaec4315cf21ac6dc97145
- version: v1.2-130-g1884e1c
- branch:

[2016-02-02 23:06] jrmerz commented on #15
Yup, looks like CKAN enforces a 100 character limit on titles.  I will add a better message to the input widget.

[2016-02-02 23:06] jrmerz commented on #16
Can you point me to the dataset?   Issue #15 is about title length, I will fix.  This looks like someone doesn't have access:

'NotAuthorized:User aidanmazur not authorized to add dataset to this organization'

[2016-02-02 23:09] ckingdon commented on #16
http://data.ecospectra.org/dataset/determining-leaf-morphological-and-biochemical-traits-using-spectroscopic-calibrations-

[2016-02-02 23:13] ckingdon opened #17 "can't delete specific dataset"
http://data.ecospectra.org/dataset/2014-bigbio-leaf-spectra

[2016-02-02 23:20] jrmerz opened #18 "After title change, exit button needs to update."

[2016-02-02 23:23] jrmerz commented on #16
This is was part of issue #15 and the wrong dataset being associated.

[2016-02-02 23:23] #16 closed

[2016-02-03 00:37] jrmerz commented on #17
@ckingdon Should load now.  Feel free to close it everything looks good.

[2016-02-03 00:42] jrmerz commented on #15
@ckingdon Should show error now.  Please test and close if fixed.

[2016-02-03 00:43] jrmerz commented on #18
@ckingdon should update exit button now.  Please test and close if fixed.

[2016-02-03 01:06] ckingdon commented on #17
Nope. Still doesn't load for me .. still getting spinning wheel and "Preparing workspace ..."

[2016-02-03 01:06] jrmerz commented on #17
Hard refresh?

[2016-02-03 01:11] jrmerz opened #19 "Description not in text index"
currently set to package_description, should be 'description'

[2016-02-03 01:14] ckingdon commented on #15
@jrmerz didn't work for me. When I tried to create a dataset with the name "this is an extremely long title this is an extremely long title this is an extremely long title ...", I got the following message:

- Package ID:
- Message: ValidationError:{u'Name': u'Name must be a maximum of 100 characters long'}
- Code: 6
- User Agent: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gec

[2016-02-03 01:17] ckingdon commented on #18
@jrmerz still getting ...

404 Not Found
The resource could not be found.
Dataset not found

... when I exited after changing the title.

[2016-02-03 01:17] jrmerz commented on #18
Hard refresh?

[2016-02-03 01:18] jrmerz commented on #18
The button doesn't update until the save is finished.

[2016-02-03 01:19] jrmerz commented on #19
@ckingdon description text should now be searchable. http://ecospectra.org/#search/cellulose/%5B%5D/0/6

[2016-02-03 01:21] jrmerz commented on #15
Hard refresh?  Looks like you are still running the old code on your browser.

[2016-02-03 01:22] ckingdon commented on #17
I tried all the tricks to refresh, then killed chrome, then logged out and back into EcoSIS

[2016-02-03 01:40] ckingdon commented on #18
after clearing the cache through chrome developer tools this now works

[2016-02-03 01:46] #18 closed

[2016-02-03 01:47] ckingdon commented on #19
works great

[2016-02-03 01:47] #19 closed

[2016-02-03 01:48] ckingdon commented on #17
works now after using Chrome developer tools to clear cache

[2016-02-03 01:48] #17 closed

[2016-02-03 01:53] ckingdon commented on #15
clearing cache through developer tools fixed it

[2016-02-03 01:53] #15 closed

[2016-02-03 01:55] ckingdon commented on #6
Aidan tells me this is still happening .. will get more info when he joins the group

[2016-02-10 22:25] aidanmazur opened #20 "Creating Sandbox Set from JSON"
- Package ID:
- Message: NotAuthorized:User amazur not authorized to add dataset to this organization
- Code: 6
- User Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.7; rv:43.0) Gecko/20100101 Firefox/43.0
- commit: 1998747904b8a9c56f0c2d7ecf47551b872681f0
- version: v1.2-140-g1998747
- branch: dev

Attempted to create sandbox data set by uploading json file from production site

[2016-02-10 22:27] jrmerz commented on #20
Can you email me the file?

[2016-02-10 22:28] aidanmazur commented on #20
attached. Let me know if that ok

________________________________
From: Justin Merz <notifications@github.com>
Sent: Wednesday, February 10, 2016 4:27 PM
To: CSTARS/ckanext-ecosis
Cc: Aidan Mazur
Subject: Re: [ckanext-ecosis] Creating Sandbox Set from JSON (#20)

Can you email me the file?

-
Reply to this email directly or view it on GitHub<https://github.com/CSTARS/ckanext-ecosis/issues/20#issu

[2016-02-10 22:30] jrmerz commented on #20
didn't receive.  try emailing me directly.

[2016-02-10 23:43] aidanmazur opened #21 "Dev Search not working"
I am attempting to search on http://dev-search.ecospectra.org/#search, and the keywords are showing up in the dropdown bar as I type, but It will not allow me to search/nothing is coming up

[2016-02-11 00:25] jrmerz commented on #21
Can you explain "It will not allow me to search/nothing is coming up" a little more?

[2016-02-11 00:45] aidanmazur commented on #21
Sorry that was a little vague, the search page is remaining blank even after I type in key words and hit the search button. I have tried typing in multiple keywords and words that I know show up in titles but still nothing is working. Im working on Firefox 43.0.4 on Mac OSX 10.7.5.

[2016-02-11 00:45] aidanmazur commented on #21
![dev-search](https://cloud.githubusercontent.com/assets/17035574/12966727/8377a8d8-d026-11e5-869a-5c57f7882511.jpg)

[2016-02-11 00:46] aidanmazur commented on #21
Above screenshot is how screen is remaining after trying to search

[2016-02-11 00:56] jrmerz commented on #21
Hummm.  Looks like a bug but I'm unable to reproduce locally.  Can you get your browser in the bad state, then click the hamburger menu icon (top right of browser), then 'Developer' -> 'Toggle Tools'. Once the dev tools are open, click the 'Console' tab.  Can you send me a screenshot of that?

[2016-02-11 01:07] aidanmazur commented on #21
![screenshot](https://cloud.githubusercontent.com/assets/17035574/12967132/857bcce2-d029-11e5-9d18-16d3d6d10efb.jpg)

[2016-02-11 16:29] aidanmazur commented on #21
Dev Search is working fine for me now

[2016-02-11 16:59] jrmerz commented on #21
There my be an asynchronous timing bug that only sometimes trips here.  I'm going to push an update in a little bit that should fix.

[2016-02-11 19:37] aidanmazur commented on #21
I am now having the same problem as before, the Dev search is not working. It was working for me this morning. Note that I am navigating to the search page from the link on this page http://dev-data.ecospectra.org/#search

![screenshot](https://cloud.githubusercontent.com/assets/17035574/12988038/88d1b21c-d0c4-11e5-9824-4e8ad1ef45b3.jpg)

[2016-02-11 20:00] jrmerz commented on #21
Frustrating, but I think we are getting somewhere.  Can you refresh your browser a couple times and try again?

[2016-02-11 20:06] aidanmazur commented on #21
Refreshed a few times and still didn't work. Restarted my computer and now it is working again

[2016-02-11 20:09] jrmerz commented on #21
When I make changes, you can always try a 'hard refresh'.  For firefox on
OSX I believe it's Cmd (Apple)+Shift+r".  The should make sure you are not
hitting your browsers cache.

On Thu, Feb 11, 2016 at 12:06 PM, aidanmazur <notifications@github.com>
wrote:

--
Justin Merz -- Center for Watershed Sciences -- University of California
Davis, CA 95616-8628

[2016-02-12 16:20] aidanmazur opened #22 "Files Not downloading from dev search site"
I attempted to download CSV files from the dataset "Mazur Test" (http://dev-search.ecospectra.org/#result/995f8067-01b0-45b4-8e68-b07894dacad8), the function on the bottom, files did not download, and got this message

![csv_download_error](https://cloud.githubusercontent.com/assets/17035574/13012714/fa871714-d171-11e5-93c5-917dfe81f5fa.jpg)

Tried with box checked to include metadata and also unc

[2016-02-12 16:22] aidanmazur commented on #22
Im working on Firefox 43.0.4 on Mac OSX 10.7.5.

[2016-02-12 16:29] jrmerz commented on #22
Yup, looks like I broke that.  Fix coming shortly.

[2016-02-12 16:30] aidanmazur commented on #22
Working for other datasets im trying out, only that specific one isn't working for me

[2016-02-12 16:31] jrmerz commented on #22
ok, patched.  Give it a go.

[2016-02-12 16:33] aidanmazur commented on #22
Working now, thanks

[2016-02-12 16:34] #22 closed

[2016-02-12 16:35] jrmerz commented on #21
@aidanmazur everything look good on your end now?  If so I will close.

[2016-02-12 16:36] aidanmazur commented on #21
Yes, search is working perfectly

[2016-02-12 16:36] #21 closed

[2016-02-12 21:22] aidanmazur opened #23 ""Data Viewer" missing Info"
Very small problem, on the production search site, under "data viewer" it says "Spectra 1 of" then nothing else on all of the datasets I've looked at

![dataviewerissue](https://cloud.githubusercontent.com/assets/17035574/13020654/455ef57a-d19c-11e5-9899-b5738bd2b319.jpg)

Minuscule, just thought I would mention it

[2016-02-12 21:22] #20 closed

[2016-02-12 21:22] #6 closed

[2016-02-12 21:25] jrmerz commented on #23
Firefox?

[2016-02-12 21:26] aidanmazur commented on #23
Firefox 44.0.2 on Mac OSX 10.7.5

[2016-02-12 21:31] jrmerz commented on #23
thanks. pushed fix.  Try again?

[2016-02-12 21:32] aidanmazur commented on #23
All fixed now, thanks

[2016-02-12 21:32] jrmerz commented on #23
awesome!

[2016-02-12 21:32] #23 closed

[2016-02-17 04:25] aidanmazur opened #24 "Map is All the way zoomed on HyspIRI Dataset"
For HyspIRI dataset on the production site, on the published page (http://ecospectra.org/#result/fac4e3cb-7ebb-42d9-a7e3-1273114d4efa), the location is zoomed in all the way to a single point when the page is loaded. All of the other ones look fine. I checked the data page (http://data.ecospectra.org/dataset/nasa-hyspiri-california) and the location is boxed just like the rest. Only pointing it ou

[2016-02-17 04:35] jrmerz commented on #24
There are two bounding boxes.  One is provided by the user, the other is calculated from the spectra if lat/lng's are given.  The spectra lat/lng bounding box has priority over the given user bounding box for zoom level, but both are drawn.  Since, in this case, all spectra are at one point, the map is zoomed in really far and the bbox is tiny.

This should probably be a little more zoomed out...

[2016-02-17 05:37] aidanmazur commented on #24
Good to know, no problem then. thanks for checking it out!

[2016-02-17 22:54] aidanmazur opened #25 "Example Spectra Don't show up on Search Homepage"
Example spectra is not showing up on the search homepage (attachment). It seems to be a problem unique to me (it is working for clayton).
![screen shot 2016-02-17 at 4 52 15 pm copy](https://cloud.githubusercontent.com/assets/17035574/13127789/059a7866-d597-11e5-83c6-fe7e1b8df258.jpg)

Working on Firefox 44.0.2 on Mac OSX 10.7.5

[2016-02-18 19:58] aidanmazur opened #26 "Unable to publish dataset"
Unable to push "Soybean and Aphid Pressure MAZUR TEST 3.0" dataset to search. Getting the following email:
Dear Aidan Mazur,

Your recent push to search for 'Soybean and Aphid Pressure MAZUR TEST 3.0' has failed.  You can try again or contact help@ecospectra.org.  We apologize for the inconvenience

-The EcoSIS Team

Have tried 6 times, tried logging out and in, restarting ecoSIS.

[2016-02-18 20:00] aidanmazur commented on #26
Publishing working fine for other datasets. I originally created the problematic dataset as a private one, perhaps that has something to do with the issue?

[2016-02-18 20:01] jrmerz commented on #26
Thanks.  Yes, this a backend issue.  Leave the dataset as is and I will take a look.

[2016-02-18 20:02] aidanmazur commented on #26
Ok thanks. Spoke too soon about the other dataset though, tried republishing "Soybean Under Aphid Pressure MAZUR TEST 2.0" and got same fail email

[2016-02-18 20:32] jrmerz commented on #26
Found the issue.  How did you set the bounding box?

[2016-02-18 20:36] aidanmazur commented on #26
The bounding box for the location?

[2016-02-18 20:36] jrmerz commented on #26
ya

[2016-02-18 20:38] jrmerz commented on #26
All of the points for the box were in the exact same spot.  The geo index for the database didn't like it.  When I drew a box it pushed fine.  I will work on fix, but interested how you got all points at same spot.

[2016-02-18 20:43] aidanmazur commented on #26
I uploaded the "Soybean Under Aphid Pressure MAZUR TEST 2.0" dataset from a template for "Productivity and Characterization of Soybean Foliar Traits Under Aphid Pressure" dataset. I then used a templated from ""Soybean Under Aphid Pressure MAZUR TEST 2.0" to create "Soybean and Aphid Pressure MAZUR TEST 3.0" so bounding boxes should have been the same. I might have goofed on something in there. Al

[2016-02-18 20:43] aidanmazur commented on #26
Thanks for checking it out

[2016-02-23 20:28] aidanmazur opened #27 "Error message when trying to create dev dataset"
- Package ID:
- Message: Request Error
- Code: 6
- User Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.7; rv:44.0) Gecko/20100101 Firefox/44.0
- commit: 6720f9c0c0f0dd5b772419182494aa79913ecaac
- version: v1.2-160-g6720f9c
- branch: dev

Creating a dataset on the dev site using a downloaded template from another dev dataset

[2016-02-23 22:50] aidanmazur commented on #27
Still not allowing me to create dataset from template

 - Package ID:
- Message: Request Error
- Code: 6
- User Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.7; rv:44.0) Gecko/20100101 Firefox/44.0
- commit: 58ae87c463d7b465c6a3e33d12ae76baf1ca9721
- version: v1.2-164-g58ae87c
- branch: dev

Using templated downloaded from "Productivity and Characterization of Soybean Foliar Traits Under Aphid

[2016-02-23 22:51] jrmerz commented on #27
Can you email template file?

[2016-02-23 22:52] aidanmazur commented on #27
Just emailed it to you

[2016-02-23 23:47] aidanmazur opened #28 "Error 404 when exiting dataset on dev"
When I am exiting datasets on the dev site, sometimes instead of bringing me back to the normal page

![screen shot 2016-02-23 at 5 45 35 pm copy](https://cloud.githubusercontent.com/assets/17035574/13270676/506aef84-da55-11e5-8f5f-12899f147cdc.jpg)

It gives me a '404 not found' error message

![screen shot 2016-02-23 at 2 30 40 pm copy](https://cloud.githubusercontent.com/assets/17035574/1327068

[2016-02-24 00:06] jrmerz commented on #28
Yup, fix coming

On Tue, Feb 23, 2016 at 3:47 PM, aidanmazur <notifications@github.com>
wrote:

--
Justin Merz -- Center for Watershed Sciences -- University of California
Davis, CA 95616-8628

[2016-02-24 00:11] aidanmazur commented on #27
- Package ID:
- Message: Request Error
- Code: 6
- User Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.7; rv:44.0) Gecko/20100101 Firefox/44.0
- commit: 0ffd214d185827fe9c0407f122f03b399655975c
- version: v1.2-169-g0ffd214
- branch: dev

[2016-02-24 16:05] jrmerz commented on #27
Are you able to setup a hangout/screen share so I can see what's up?

[2016-02-25 15:37] aidanmazur commented on #27
Yes, I am available this afternoon to do that, sorry I was not in yesterday

[2016-03-01 20:40] qjhart opened #29 "Refresh Failed"
- Package ID: cc09d078-ff74-4a1a-a79f-3e1655abdbf8
- Message: Request Error
- Code: 19
- User Agent: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/49.0.2623.63 Safari/537.36
- commit: 1263e6bdfb8e5f3f63f0f0fc42b08ef6a9889880
- version: v1.3-1-g1263e6b
- branch: master

[Any Additional Info Here]

[2016-03-01 21:37] jrmerz commented on #29
Looks like the aliases was being set to array instead of hash.

[2016-03-01 22:09] jrmerz commented on #29
Ok, fixed pushed to dev & prod.  Thanks for the catch!

[2016-03-01 22:09] #29 closed

[2016-03-01 22:09] jrmerz commented on #28
Good to close?

[2016-03-01 22:09] jrmerz commented on #27
Think we resolved.  Feel free to re-open if not.

[2016-03-01 22:09] #27 closed

[2016-03-01 22:10] jrmerz commented on #26
Going to make a TODO card in trello.  Closing for now.

[2016-03-01 22:10] #26 closed

[2016-03-01 22:12] jrmerz commented on #25
Think this is good now.  We might want to just switch to showing some interesting metrics.  Graph is kinda silly.

[2016-03-01 22:12] #25 closed

[2016-03-01 22:12] #24 closed

[2016-03-01 22:13] jrmerz commented on #13
As this is a known, ongoing issue with no real solution in site.  Going to close for now.

[2016-03-01 22:13] #13 closed

[2016-03-01 22:27] qjhart opened #30 "Keywords Should Allow Spaces"
eg. http://data.ecospectra.org/dataset/cc09d078-ff74-4a1a-a79f-3e1655abdbf8

[2016-03-08 18:21] #28 closed

[2016-03-15 22:04] aidanmazur opened #31 "Date being parsed as integers"

[2016-03-16 20:30] jrmerz commented on #31
ok, give it a go now.

[2016-03-16 20:30] jrmerz commented on #30
fixed in dev.

[2016-03-16 20:30] #30 closed

[2016-03-16 21:04] aidanmazur commented on #31
Problem fixed, thanks!

[2016-03-16 21:18] #31 closed

[2016-03-17 15:29] aidanmazur opened #32 "Opening 'stats' under 'data viewer' changes web page size"
after clicking 'stats' button and viewing spectra under 'data viewer', when user then clicks out of 'stats', the spectra changes back to original spectra, but the page appears to reformat and the graph goes off screen. This is happening for me on both firefox and chrome.

Before
![before](https://cloud.githubusercontent.com/assets/17035574/13851169/1d43e57e-ec2b-11e5-8529-a8ebc2908bf7.jpg)

After

[2016-06-15 21:29] aidanmazur opened #33 "Template DOI carry-over"
When template is downloaded from dataset that has been assigned a DOI, then the template is used to create a new dataset, the DOI is applied so that the newly created dataset can no longer be edited

[2016-06-15 21:32] aidanmazur opened #34 "No Datasets shown on sandbox"
On sandbox search (http://dev-search.ecospectra.org/#home), It appears as though there are no datasets uploaded or available to search

[2016-06-15 21:36] aidanmazur commented on #34
On both Chrome used on windows 7 and Firefox 46.0.1 on OS X El Capitan 10.11.4

[2016-06-16 16:27] jrmerz commented on #34
Thanks.  I think I was messing with the database and restarted it, then the webapp failed to reconnect.  I restarted the server and all is good now.

[2016-06-16 16:27] #34 closed

[2016-06-16 18:46] aidanmazur opened #35 "Dataset information not visible on dev importer using chrome on windows"
On sandbox data importer, when I try to view the dataset information, the dataset metadata shows up blank, however the metadata scores (eg 7/7) show that fields are filled in, and when you exit the dataset, all of the information shows up on the dataset summary page.

This problem is only occurring when I use Chrome Version 51.0.2704.84 m on Windows 7

[2016-06-16 19:16] aidanmazur opened #36 "Cannot delete dataset even after DOI removed"
- Package ID: 86765256-9081-4489-970f-554c1bec76c1
- Message: Request Error
- Code: 5
- User Agent: Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.84 Safari/537.36
- commit: a913b060585fdb878a695e440e9bda8493164940
- version: v1.4-40-ga913b06
- branch: dev

Removed DOI using URL, but EcoSIS will still not let me delete dataset, saying it says dataset st

[2016-06-16 20:34] aidanmazur commented on #35
Refreshing and hard refreshing (Ctrl Shift R) does not make information appear

[2016-06-16 20:37] aidanmazur opened #37 "Unable to publish dataset on docker dev site when email requested"
Unable to publish dataset "Docker Test Dataset Mazur 1.0" on the docker dev importer site, when the "Email me when the dataset is available in search" box is checked. When I UNchecked the box, dataset published almost immediately

[2016-06-16 20:46] aidanmazur commented on #35
Also occurs when using Internet Explorer 11 and Firefox 30.0 when "Manage Dataset" button first pressed, but is resolved with a refresh of the web page. NOTE: this is only occurring when using EcoSIS on a PC with Windows 7, does not occur when using Max OS X 10.11.4

[2016-06-16 20:56] aidanmazur commented on #35
When this occurs, this is what the page looks like, take note of the DOI section

![screencapture-docker-dev-data-ecosis-org-import-1466110490628](https://cloud.githubusercontent.com/assets/17035574/16132876/c00f72fe-33da-11e6-98c4-704655070ef6.png)

[2016-06-16 21:19] jrmerz commented on #35
Can you give me the dataset url?  I am unable to reproduce.

[2016-06-16 21:19] jrmerz commented on #37
Ya, the dockers email is fubar, I'm still trying to discover why...

[2016-06-16 22:01] aidanmazur commented on #35
http://dev-data.ecospectra.org/import/?id=bd069000-f9a1-496c-93a8-3bcff7900167

The first time I enter the dataset, information shops up, but if I exit dataset and then "Manage Dataset" information is gone and I get page that I screenshotted, and continues to happen even after exiting and re entering again

[2016-06-16 22:02] aidanmazur commented on #35
It is happening for me on all dev datasets that I enter

[2016-06-16 22:23] jrmerz commented on #35
Sorry, pushed a bad build.  Give a hard refresh, should be working now.

[2016-06-17 17:55] aidanmazur commented on #35
Looks good

[2016-06-17 17:55] #35 closed

[2016-06-17 18:23] aidanmazur commented on #33
This is also the case when a dataset is created using a template from a dataset that has a pending DOI request, then the dataset newly created will also automatically have a pending DOI request, which shows up on the EcoSIS DOI admin page when dataset is created

[2016-06-21 17:24] jrmerz commented on #37
@aidanmazur email should be running on docker.  give it a go

[2016-06-21 17:25] jrmerz commented on #36
@aidanmazur great catch, this was actually a very bad bug.  Fix pushed.

[2016-06-21 17:37] jrmerz commented on #33
Ok, DOI attributes should be left off of import.

[2016-06-21 18:52] aidanmazur commented on #36
Looks fixed, Thanks

[2016-06-21 19:05] aidanmazur opened #38 "DOI status resetting on Dataset importer"
I requested a DOI for the dataset "Sandbox Test Dataset Mazur 1.0". I then denied the DOI pending revision. On the dataset importer page, under the DOI field, it has reset to the original DOI request message and box and does not mention that the DOI was denied pending revision

[2016-06-21 19:16] aidanmazur commented on #38
requested DOI for dataset "Sandbox Test Dataset Mazur 2.0", I exited dataset and did a hard refresh, when I reentered dataset the DOI status had reset to original DOI message and did not show that DOI had been requested, The request can still be seen on the DOI admin page

[2016-06-21 19:23] #36 closed

[2016-06-23 16:30] aidanmazur opened #39 "Cannot delete dataset due to DOI but no DOI applied-on Docker"
- Package ID: 37f84bf6-b6e2-462a-ab1b-eb263cc6ea29
- Message: Request Error
- Code: 5
- User Agent: Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.103 Safari/537.36
- commit: 62bcca7cb256859bc474cf0e96ced78d7c17dd03
- version: v1.4-44-g62bcca7
- branch: (detached from a913b06)

having similar problem as issue #36 on docker dev.

on datasets "Docker Test

[2016-06-23 16:59] jrmerz commented on #39
Is this issue related to http://docker-dev-data.ecosis.org/, http://docker-prod-data.ecosis.org/ or both?

[2016-06-23 17:05] aidanmazur commented on #39
I have only tested dev, will try it out on prod

[2016-06-23 17:06] jrmerz commented on #39
It's ok, I can tell you prod will definitely fail :)

[2016-06-23 17:09] aidanmazur commented on #37
email being sent when publishing on docker-dev and dataset publishing

[2016-06-23 18:08] aidanmazur opened #40 "Dataset information not visible of docker dev search"
Datasets on the docker dev search appear to have no information entered

[2016-06-23 18:14] #37 closed

[2016-06-23 18:20] aidanmazur commented on #33
Looks good

[2016-06-23 18:22] #33 closed

[2016-06-23 21:01] aidanmazur opened #41 "Docker Dev Search Links mismatched"
On Docker Dev search site (http://docker-dev-search.ecosis.org/) the link for data uploaders (both in the middle of the page and on the bottom) link to http://data.ecosis.org/ instead of http://docker-dev-data.ecosis.org/.

[2016-06-23 21:06] aidanmazur commented on #41
Also link on http://docker-dev-data.ecosis.org/ for the "EcoSIS search" sends to http://dev-search.ecospectra.org/ instead of http://docker-dev-search.ecosis.org/

[2016-06-27 18:07] jrmerz commented on #40
Good catch, config issue.  should be fixed now.

[2016-06-27 18:07] #40 closed

[2016-06-27 18:57] jrmerz commented on #41
ok, all docker-dev-[search | data] links should be fixed

[2016-06-27 18:57] #41 closed

[2016-06-27 19:03] jrmerz commented on #32
I don't think this is an issue anymore.  The metadata table is now below the graph.  Please re-open if that's not the case.

[2016-06-27 19:03] #32 closed

[2016-06-27 21:54] aidanmazur opened #42 "Cannot open or create datasets on Dev"
When I attempt to open datasets on dev-data.ecospectra.org I get a "404 not found" error. Also the case when I try to create datasets. Happening on both Firefox and Chrome on Mac OS X 10.11.4

[2016-06-27 21:55] jrmerz commented on #42
Oops, copied bad config from 'old' dev.  One sec

[2016-06-27 21:59] jrmerz commented on #42
ok, should be up

[2016-06-27 21:59] jrmerz commented on #38
Fix has been pushed to dev-data.

[2016-06-27 22:06] aidanmazur commented on #42
looks good thanks!

[2016-06-27 22:39] aidanmazur opened #43 "Dataset not publishing when "send email" option checked"
Tried publishing dataset with the option "Email me when the dataset is available in search" is checked and the dataset was not published and no email is sent. When I tried publishing dataset without box checked it published almost immediately

[2016-06-27 22:39] #42 closed

[2016-06-27 23:28] jrmerz commented on #43
Bad email setup.  Try now.

[2016-06-28 16:17] jrmerz commented on #39
@aidanmazur this is working for me on dev-data.  You?

[2016-06-28 16:17] jrmerz commented on #38
@aidanmazur let me know if this is working and let's close.

[2016-06-28 16:18] jrmerz commented on #43
@aidanmazur let me know if this is working and we can close.

[2016-06-28 16:20] aidanmazur commented on #43
looks good

[2016-06-28 16:20] #43 closed

[2016-06-28 16:24] aidanmazur commented on #38
Having same problem. The DOI status on the dataset overview page is updated, but within the dataset the DOI metadata field resets to "Request Dataset" anytime you exit and reenter no matter the actual DOI status

[2016-06-28 16:35] jrmerz commented on #38
Sheepish grin... I push the fix w/o a new build.  K, fix should be fixed 'for real' this time.

[2016-06-28 16:44] aidanmazur commented on #38
Everything looks good for this now!

[2016-06-28 16:45] aidanmazur commented on #39
working for me now as well

[2016-06-28 16:47] #39 closed

[2016-06-28 16:47] #38 closed

[2016-07-07 21:25] ckingdon opened #44 "dev-data: adding existing user to organization"
Adding an existing user to a organization results in the creation of a new user.

For example, I tried to add 'adjablonski', but after I did it created a new user named 'adjablonski-9442'

[2016-07-07 21:33] ckingdon commented on #44
oops, I saw the **OR** between "existing user" and "new user"

[2016-07-07 21:33] #44 closed

[2016-07-21 14:53] adjablonski opened #45 "Cannot toggle visibility options when adding dataset through viewing an Organization"
If I go upload a dataset via "Datasets->Add Dataset", I am able to select my organization and then select the visibility as public or private. However if I upload a dataset via "Organizations->UW Enspec->Add Dataset", my group is preselected but I am unable to select visibility as public or private. Changing the organization selection (either to a different organization or none, and back to UW-Ens

[2016-07-28 19:29] adjablonski opened #46 "Deleting datasets results in bug"
Just trying out a hard delete on the the dev side of Ecosis. I'm wondering if it's because a DOI has been attached?

Error: TypeError:canUpdate() takes exactly 3 arguments (1 given)

 Package ID: 87d073f4-2069-4b08-aa44-527b2a5cf5a4
- Message: Request Error
- Code: 5
- User Agent: Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.106 Safari/537.36
- commi

[2016-08-03 15:54] jrmerz commented on #46
@adjablonski where were you deleting the dataset from?  IE, which button?  In the latest release, the delete button is no longer visible after a DOI is applied on the EcoSIS Importer - Basic Information page.

[2016-08-03 17:14] adjablonski commented on #46
@jrmerz I was attempting to delete the dataset from the "Manage Dataset" page on the EcoSis sandbox. I've attached a screenshot with a red box showing where I found the button.

![delete_bug](https://cloud.githubusercontent.com/assets/20327735/17374788/d750943e-5973-11e6-93a4-97e1f544fce0.png)

[2016-08-03 20:39] jrmerz commented on #46
That looks like old code.  Can you give a hard refresh, then make sure the bottom is tagged with version v1.7-6-g9f480e9.

Note, since a DOI is applied, I just pushed an update that will throw an alert about not being able to update the dataset when you first load.  I am actively working on this.

[2016-08-03 20:47] adjablonski commented on #46
I just checked it out now and the delete dataset button is gone. Code version is up to date. I did a hard refresh and the button returned. After playing around some more (closing/restarting chrome) the button is gone again. It doesn't show up on IE either.

Your alerts about not being able to update are showing up as well. I'll check back later tonight and see how it goes.

[2016-08-04 20:10] adjablonski opened #47 ""Other" categories don't reveal the specifics when viewed in search"
I'm not sure if this is a bug or an intentional design or what. But if I select "other" categories for options under measurement type, an additional box pops up allowing you to specify what "other" is. See the first image:

![other_explanation](https://cloud.githubusercontent.com/assets/20327735/17416701/05fcd41e-5a55-11e6-98c3-1a36c362b699.png)

However when I view this on the search side, those

[2016-08-05 17:56] jrmerz commented on #45
@adjablonski nice catch.  This was actually 2 bugs.  First, the **visibility** selector was not being updated when the org was selected (you can only have private packages that are a member of a organization).  Second, the initial organization selector state was not being set if the **group** url parameter was set.

Both should be fixed as of commit above (pushed to dev).  Give them a try and let

[2016-08-05 17:57] jrmerz commented on #46
Closing for now, reopen if problem crops up again.

[2016-08-05 17:57] #46 closed

[2016-08-05 18:14] jrmerz commented on #47
Another nice catch.  Fixed pushed to dev.  Let me know if things look ok.

[2016-08-11 17:07] aidanmazur opened #48 "Unable to publish dataset on dev"
When I try to publish dataset on dev I get error message:

 - Package ID: 3eca6f84-b10c-4c47-849d-3643079529d7
- Message: Request Error. Error publishing dataset.
- Code: 12
- User Agent: Mozilla/5.0 (Windows NT 6.1; WOW64; rv:47.0) Gecko/20100101 Firefox/47.0
- commit: 0fe11fb7f583fb2182fe6c2edc6930eee9ef140d
- version: v1.7-12-g0fe11fb
- branch: dev

Have tried both Chrome  52.0.2743.116 and fir

[2016-08-11 17:47] jrmerz commented on #48
@aidanmazur you are a bug finding machine.  Bug with generating citation with single author.  Should be fixed.  Give it a try.

[2016-08-11 17:47] jrmerz commented on #47
@adjablonski ping

[2016-08-11 17:47] jrmerz commented on #45
@adjablonski ping

[2016-08-11 17:48] aidanmazur commented on #45
tested this one, working fine now

[2016-08-11 17:49] jrmerz commented on #45
@aidanmazur thanks!

[2016-08-11 17:49] #45 closed

[2016-08-11 18:48] aidanmazur commented on #48
Datasets are publishing fine now. However, in the publishing tab at the top, the green check mark is immediately changed to the yellow triangle notice and under "search Status" it continues to say that dataset has been "updated since last publish" even if that is not the case

[2016-08-11 18:52] aidanmazur commented on #47
Other values now showing up, this is good to close

[2016-08-11 18:52] #47 closed

[2016-08-11 19:08] jrmerz commented on #48
Nice catch.  When no Organization is set, I make sure the private flag is set to false.  I was not checking it this flag was already false and the set command automatically was calling save.  Thus, on load, the dataset become one save behind the published version.

I have pushed fix to dev.  Let me know what you see.

[2016-08-11 20:14] aidanmazur commented on #48
If there is an organization associated with the dataset then the the green check mark remains after publishing, if there is no organization then green check mark turns to yellow triangle even if no changes happen post publishing

[2016-08-11 20:30] jrmerz commented on #48
Yes, that's what I think I fixed.  can you give a hard refresh and see if that is still the case?

[2016-08-11 20:38] aidanmazur commented on #48
Looks good

[2016-08-15 15:16] aidanmazur commented on #48
Feel free to close this immediately because it may not be a problem, but I removed the DOI from the dataset "DOI citation testing" and now the green publishing checkmark turns to yellow after publishing. It is not happening on other datasets, only on dataset with removed DOI, so a very niche group which isnt a problem because we wont be removing DOIs on production, just wanted to let you know

[2016-08-15 16:32] jrmerz commented on #48
Can you provide the dataset link?

[2016-08-15 16:46] aidanmazur commented on #48
http://dev-data.ecospectra.org/import/?id=37ea9da6-ff5c-484a-b655-7625fefea1c6

[2016-08-15 17:14] aidanmazur opened #49 "Location bounding box trouble on chrome"
When I try to set the bounding box under location, it does not let me click to set it, it just keeps moving around. I am only having this issue on google chrome Version 52.0.2743.116 m, not firefox

[2016-08-15 17:21] jrmerz commented on #48
It's always good to investigate these kind of bugs.  There was a larger issue tripping the bug described here.  Please try again and let me know if things work as expected.

[2016-08-15 17:22] jrmerz commented on #49
OS?  Chrome on mac appears to be working for me.

On Mon, Aug 15, 2016 at 10:14 AM, aidanmazur <notifications@github.com>
wrote:

--
Justin Merz -- Center for Watershed Sciences -- University of California
Davis, CA 95616-8628

[2016-08-15 17:29] aidanmazur commented on #49
on Windows 7

[2016-08-15 17:30] aidanmazur commented on #48
Problem fixed, thanks

[2016-08-15 17:31] #48 closed

[2016-08-15 17:35] jrmerz commented on #49
Humm, working on my end in Chrome/Win10 & Chrome/Win7 as well :/

On Mon, Aug 15, 2016 at 10:29 AM, aidanmazur <notifications@github.com>
wrote:

--
Justin Merz -- Center for Watershed Sciences -- University of California
Davis, CA 95616-8628

[2016-08-15 18:41] aidanmazur commented on #49
just needed to close out and reopen chrome, all good now

[2016-08-15 18:42] #49 closed

[2016-09-02 21:20] annakat opened #50 "error create basic info from template"
- Package ID:
- Message: Request Error
- Code: 6
- User Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_5) AppleWebKit/601.7.8 (KHTML, like Gecko) Version/9.1.3 Safari/601.7.8
- commit: f362857d4fdc1c2df2aabe7ec10ea9e80005c966
- version: v1.7-19-gf362857
- branch: (detached from 1737f04)

[2016-09-02 21:23] jrmerz commented on #50
@annakat Thanks for posting the issue!  Any chance you can attached the .json template file you are using to create dataset with?  It will help with debugging.

[2016-09-02 21:26] annakat commented on #50
{
    "maintainer": "",
    "author": "Anna K Schweiger, Anna K Schweiger",
    "private": false,
    "maintainer_email": "anna.k.schweiger@gmail.com",
    "author_email": "anna.k.schweiger@gmail.com",
    "extras": {
        "Measurement Units": "%",
        "Wavelength Units": "nm",
        "Funding Source Grant Number": "NSF 1342872",
        "Measurement Quantity": "Reflectance",
        "Them

[2016-09-02 21:29] annakat commented on #50
... Could also have been caused by the bounding box I drew on the map. The second attempt worked.

[2016-09-02 21:30] jrmerz commented on #50
Interesting.  Would still like to investigate.  So you drew a bounding box, then attempted to create dataset via template?

[2016-09-02 21:31] annakat commented on #50
I first uploaded the template, then drew the bounding box.

[2016-09-02 21:36] jrmerz commented on #50
Ok.  Sorry to ask so many questions, trying to see what tripped the error... What bounding box (general area) did you draw?

[2016-09-02 21:40] annakat commented on #50
"geojson": "{\"type\":\"Polygon\",\"coordinates\":[[[-93.22667598724365,45.41652746358743],[-93.22667598724365,45.3822958616878],[-93.14633846282959,45.3822958616878],[-93.14633846282959,45.41652746358743],[-93.22667598724365,45.41652746358743]]]}",

[2016-09-02 21:41] annakat commented on #50
Saved it as a new template, it's a small area (~ 25 km2), Cedar Creek.

[2016-09-02 22:09] annakat commented on #50
Okay, I uploaded another dataset using the same procedure. Worked like a charm.

[2016-09-26 17:10] aidanmazur opened #51 "DOI applied to Dataset on Production but says it is not real"
For the dataset "Fresh Leaf Spectra to Estimate Leaf Morphology and Biochemistry for Northern Temperate Forests" (http://data.ecosis.org/import/?id=4a63d7ed-4c1e-40a7-8c88-ea0deea10072) it shows that there is a DOI applied to it, and under DOI it states "This is NOT a real DOI. Only datasets in production system (data.ecosis.org) will be given actual DOI numbers."

[2016-09-26 17:15] jrmerz commented on #51
Thanks, that's just a bug with display text.  Will fix.  The DOI is assigned.

http://dx.doi.org/10.21232/C2WC75

[2016-09-26 17:27] jrmerz commented on #51
Actually, this looks like something different.  Looks like docker was started with it's base image, which installs the extension from the python egg so git was at detached head instead of master.  Switched back to master branch and all is well, though I need to investigate why a new image was used.

Closing this for now.

[2016-09-26 17:27] #51 closed

[2016-10-17 18:07] aidanmazur opened #52 "Not allowing deletion of resource files"
I am attempting to delete 2 resource files (the .zip and the .JPG files) from the dataset "Mazur Test Dataset 1.8" (http://dev-data.ecospectra.org/dataset/mazur-test-dataset-1-8), but they keep reappearing after I exit dataset and show up on the search side.

[2016-10-17 18:08] aidanmazur commented on #52
Just tried to delete individually (before I was selecting then trying to delete all selected) and got this error

 - Package ID: 37ea9da6-ff5c-484a-b655-7625fefea1c6
- Message: Request Error. Server error deleting resource.
- Code: 17
- User Agent: Mozilla/5.0 (Windows NT 6.1; WOW64; rv:47.0) Gecko/20100101 Firefox/47.0
- commit: 1ef9f1798ec0e4cb8b0fafb98130985ba8bd6f87
- version: v1.8-15-g1ef9f17

[2016-10-17 18:11] aidanmazur commented on #52
Figured it out, the dataset was pending DOI, so resource files could not be edited.

[2016-10-17 18:12] jrmerz commented on #52
This should not throw and error.  It's good the backend is rejecting the call for delete, but UI should not be showing the delete button in the first place.

Nice find.  Let's leave open util I fix.

[2016-10-17 18:46] aidanmazur opened #53 "Modify date not updating"
I am editing the resource file "MultipleSheet_Test_Mazur_v1.xlsx" within the dataset Mazur Test Dataset 1.8 (http://dev-data.ecospectra.org/import/?id=37ea9da6-ff5c-484a-b655-7625fefea1c6#current-resources) but the modify date is not updating, still showing the same date and time as the created date.

(also as side note the time appears to be off)

[2016-10-17 19:05] jrmerz commented on #53
@aidanmazur The modified date is when the file was last modified.  Not when it is last configured.   Modification timestamps to resource configurations are not currently tracked by the system.  I agree this is confusing and perhaps something we should remove.

[2016-10-17 20:08] aidanmazur commented on #53
@jrmerz I guess I am confused on what changes would update the modified time?

[2016-10-17 20:57] aidanmazur opened #54 "Photo linking not working"
On dataset "Mazur Test Dataset 1.8" (http://dev-data.ecospectra.org/import/?id=37ea9da6-ff5c-484a-b655-7625fefea1c6#current-resources)

Photos not linking to spectra. Tried a couple different things:
Tried adding separate resource file with just unique id and photo id but didnt link
Now tried adding Photo field to metadata sheet, but photos are not showing up.

In the resource editor, a link "Spec

[2016-10-24 23:57] jrmerz commented on #53
@aidanmazur pushed to dev

[2016-10-24 23:58] jrmerz commented on #54
@aidanmazur fix pushed to dev (c1941ee6bf4a0a5755a7099476d68f71a72f14bf)

[2016-10-25 00:18] jrmerz commented on #52
@aidanmazur fix pushed.  Should not show delete/edit buttons after DOI is requested.  Will now reload page after DOI is requested/cancelled to make sure UI is in correct state.

[2016-10-25 00:21] jrmerz commented on #50
Closing, feel free to reopen if this happens again.

[2016-10-25 00:21] #50 closed

[2016-10-27 16:44] #53 closed

[2016-10-27 16:46] #52 closed

[2016-10-27 16:51] aidanmazur commented on #54
looks good

[2016-10-27 16:51] #54 closed

[2016-11-11 17:25] aidanmazur opened #55 "GCMD Keywords term options not automatically showing up"
When typing in the GCMD Keywords, options do not show up under the type bar to choose from. There is no way to enter or select terms for this field

[2016-11-11 18:03] jrmerz commented on #55
Oops. forgot to init those.  Give it a go now.

[2016-11-11 19:34] aidanmazur commented on #55
Working now

[2016-11-11 19:34] #55 closed

[2016-11-11 19:46] aidanmazur opened #56 "Superscripts not showing up in units on resource files"
Some of the units provided in the metadat sheet are (g/cm²), however both in importer and on search (under data viewer) the superscript 2 is being omitted

[2016-11-11 19:47] aidanmazur commented on #56
See dataset ANGERS Leaf Optical Properties Database (2003)

http://data.ecosis.org/import/?id=2231d4f6-981e-4408-bf23-1b2b303f475e#current-resources

https://ecosis.org/#result/2231d4f6-981e-4408-bf23-1b2b303f475e

[2016-11-11 20:39] jrmerz commented on #56
k, this is an interesting one.  Proly needs to become a trello card.  Basically there were bad unicode characters that were being passed and crashed my parsers.  So I went and only allowed ascii strings (very limited subset of characters).  This was out of time constraints.  I should be able to encode all characters as UTF-8 and keep such characters as super scripts.  This will need to be heavily

[2016-11-11 21:08] aidanmazur commented on #56
card made

[2016-11-22 22:29] aidanmazur opened #57 "dev importer server error"
no able to go to "datasets" on dev data importer site. Instead throws a server error. On the tab it reads "Error 500" and on the page it reads "Server Error An internal server error occurred"

I AM able to go to dev data importer home page, but not able to access datasets.

This is on windows 7 using Firefox 47.0.1

[2016-11-23 17:28] jrmerz commented on #57
So mongodb tanked.  Poking around it looks like it ran out of memory but hard to tell.  There was no swap space enabled for the VM (badness) which may have been the issue as we use all of our 4GB between the 4 sites / 10 docker containers.  I have enabled swap space. This is slightly a blind fix, but I feel a reasonable one.  @aidanmazur @ckingdon I'm going to close this for now, but let me know i

[2016-11-23 17:29] #57 closed

[2016-12-06 17:18] aidanmazur opened #58 "Dev DOI Admin page not loading with firefox"
Loads when I use Chrome, Does not load when I use firefox on both windows 7 (firefox 47.0.1) and OS X El Capitan 10.11.4 (firefox 50.0)

[2016-12-06 21:19] aidanmazur opened #59 "Unparssed sheets show up in data"
When there are resource files that are uploaded that I mark as "Ignore: this sheet should not be parsed", they are still incorporated into the data (are seen on data previewer on importer and on the search side data viewer when user is scrolling through data). This occurs when the resource file is an excel, have not had it occur with any other format of resource file. I have found that deleting th

[2016-12-07 16:29] #56 closed

[2016-12-07 16:59] jrmerz commented on #59
@aidanmazur can you point me at an example dataset on dev?  I am having trouble recreating bug locally.

[2016-12-07 17:21] aidanmazur commented on #59
Now I cannot recreate it either. The datasets that it had happened on was the "Leaf Optical Properties Experiment Database (LOPEX93)" on production and "Time series test" dataset on dev, but I already deleted and reuploaded the resource files on both and it self corrected. I will keep trying and let you know when it pops up again. You can close if you want and I'll reopen if I can recreate the iss

[2016-12-07 17:25] jrmerz commented on #59
Let's leave it open for a bit, then can close if it doesn't popup again in the next couple weeks.

[2016-12-07 18:08] aidanmazur opened #60 "Metadata is not linking on 1 measurement"
In dataset "Time Series Test" the metadata is not linking for only one spectral measurement (Meter0). Looked at formatting on the excel side and looks to be the same as the other names. Re uploaded resource file a couple times and still isnt linking, but only that one measurement

[2016-12-07 18:14] aidanmazur commented on #60
dataset is on dev http://dev-data.ecospectra.org/dataset/time-series-test

[2016-12-07 19:38] jrmerz commented on #60
fix pushed to dev, let me know how things look on your end.

Just FYI, this was due to a bug when parsing the sheet with a starting blank column(s).  The system should handle this.  Bug fixed, so things should be good now.  But please test.

[2016-12-07 19:57] aidanmazur commented on #60
Original problem fixed

Tested (on same dataset) by adding 1 blank column on the Run5Reflectance sheet and 2 blank columns on the Metadata sheet and re uploading resource file and am running into issues. It is not formatting the Run5Reflectance, ie no spectra are showing up

[2016-12-07 20:24] jrmerz commented on #60
you and your 'testing' ;)

Let me take a look

[2016-12-07 20:49] aidanmazur opened #61 "Ordering function does not appear to be working"
Under the 'Advanced' tab there is the 'ordering' tab. I am working with the dataset "formatting time series data" (http://dev-data.ecospectra.org/dataset/formatting-time-series-data) and am trying to order the data by different fields but it does not appear to be doing anything (on data previewer [importer], data viewer [search] or on the downloaded csv file [search]). I have tried different combo

[2016-12-07 22:08] jrmerz commented on #60
So data needs always be aligned against the left most column. ie column A must be the start of the data.  We allow for blank rows, but not blank columns.

[2016-12-07 22:57] jrmerz commented on #61
OK, a couple things on this one.  First, there were bugs, I think i have fixed them.  Second, sorting will only show on the search side.  So you have to push to see things sorted.  Third, if you want to sort by the numeric value, (ie not alphabetical), you need to set the sort type to 'numeric'.  That tells the server how to interpret the values.

http://dev-search.ecospectra.org/#result/def322a8-

[2016-12-08 16:44] jrmerz commented on #58
@aidanmazur fix pushed, please git it a go in non-chrome browser.

[2016-12-09 21:44] aidanmazur opened #62 "Issues with Dry FFT dataset on production"
Referring to dataset "Dried Leaf Spectra to Estimate Leaf Morphology and Biochemistry for Northern Temperate Forests"

On search (https://ecosis.org/#result/2b7563b9-7aab-46bd-b1a9-4fdae45305a2), the data previewer is showing 1870 spectra, however the dataset only has 1227, which is consistent with the number of spectra that is included on the spectral resource file (FFT_dry_spectra_v2.xlsx).

Als

[2016-12-09 21:48] aidanmazur commented on #59
Also sent in email, but this is now occurring on dataset "Spectral Characterization of Microtopographic Patterns in an Arctic Baydjarakh Field: Time Series" (http://data.ecosis.org/dataset/spectral-characterization-of-microtopographic-patterns-in-an-arctic-baydjarakh-field--time-series) on production. When looking at the data previewer, it says that the sheets "Run5RawRefl" and "Run5_Indices" are

[2016-12-09 21:51] aidanmazur commented on #59
Occurring on Dataset "Leaf Optical Properties Experiment Database (LOPEX93)" (http://data.ecosis.org/dataset/leaf-optical-properties-experiment-database--lopex93-) as well

[2016-12-09 22:03] aidanmazur commented on #61
Sorting function under the Ordering tab appears to be working fine on my end

[2016-12-09 22:04] #61 closed

[2016-12-09 22:09] jrmerz commented on #59
Which resource and sheet?

[2016-12-09 22:13] aidanmazur commented on #59
For Lopex dataset: Resource file "Lopex1993_Metadata_Naming_and_Notes.xlsx" is supposed to be ignored

For "Spectral Characterization of Microtopographic Patterns in an Arctic Baydjarakh Field: Time Series": resource file "NDVI&Albedo_Run5_Normalized_ForTest.xlsx" sheets 1 (Run5RawRef) and 3 (Run5_Indices)

[2016-12-09 22:14] jrmerz commented on #59
Ok, I have an idea of what this might be.  Thanks

[2016-12-09 22:16] aidanmazur opened #63 "Issue with Data Viewer on Search"
Referring to dataset "Productivity and Characterization of Soybean Foliar Traits Under Aphid Pressure" (https://ecosis.org/#result/cdbb6b09-b481-4022-a0da-ad95a8b085d8)

The data viewer is repeating the graph (spectra) and metadat for spectra 705 until the end

[2016-12-09 22:20] #58 closed

[2016-12-09 22:20] #60 closed

[2016-12-09 22:40] jrmerz commented on #63
Give it a go now

[2016-12-09 22:42] aidanmazur commented on #63
Looks perfect, thanks

[2016-12-10 17:54] jrmerz commented on #62
Did the data change without republishing?  I pushed data again and search now shows 1227.

[2016-12-10 18:20] jrmerz commented on #59
Ok, I might need to jump on a screen share to watch you do this, might be a browser bug.  I toggled the ignore button off/on and the sheets spectra we actually ignored.  So I'm not totally sure on the source of this issue.

[2016-12-12 16:42] aidanmazur commented on #59
No longer having the issue on the "Spectral Characterization of Microtopographic Patterns in an Arctic Baydjarakh Field: Time Series" dataset (which has the resource files formatted as one excel file, multiple sheets).

Still having the issue on the "Leaf Optical Properties Experiment Database (LOPEX93)" dataset, but only on search, not importer (which has the resource files formatted as multiple,

[2016-12-12 16:45] aidanmazur commented on #62
I had tried republishing and that didnt help. But now it looks good, including downloaded csv file. You are a computer wizard

[2016-12-12 16:48] jrmerz commented on #62
Humm, that's not good.... Need to try and keep track of some of these more elusive bugs.

[2017-01-05 19:16] aidanmazur commented on #63
Same issue (The data viewer is repeating the graph (spectra) and metadat for spectra 705 until the end) on dataset "Fresh test metadata fields" on Dev (http://dev-search.ecospectra.org/#result/40b7b3d6-9519-48f9-80da-fc775c292d1a)

[2017-01-05 20:13] jrmerz commented on #63
@aidanmazur ok, give it a go now

[2017-01-05 20:22] aidanmazur commented on #63
Looks good thanks

[2017-01-05 20:22] #63 closed

[2017-01-18 16:28] aidanmazur opened #64 "Not able to publish new datasets on Production"
I have created 2 new datasets and I am unable to publish them. When I click on the publish button the message "Success. Your dataset is processing. you will be emailed at amazur@wisc.edu when your dataset is ready". I then get an email telling me that my dataset has failed to publish.

The datasets I created are "Effects of Aphid damage on Soy Plants" (http://data.ecosis.org/dataset/effects-of-aph

[2017-01-18 17:00] jrmerz commented on #64
@aidanmazur (@ckingdon FYI) There are two issues here, but I don't think they are critical and can be fixed in next release.

The first issue is why the dataset didn't push.  The reason for that is you have bad geometry.  This appears to be caused my LeafletJS map (the JavaScript map library I used) having wrapping turned on, so once you just hit the edge of the map, the map continues on.  Well th

[2017-01-18 17:23] aidanmazur commented on #64
Ok that makes sense. When I was drawing the bounding box, I first zoomed out a lot on accident and then zoomed back in, must have zoomed in on the wrong earth! I Made the second dataset using a template from the first, so problem carried over. I will continue testing now.

Is there anything specific you want me to do to address these at this point? I will continue general testing

[2017-01-18 17:31] jrmerz commented on #64
Just general testing is fine.  You already discovered one new bug :)

[2018-01-12 20:55] skelsey4 opened #65 "No "urban" or "other" option in Ecosystem Type"
Would it be possible to add an "Urban" option or do an "Other" option with an additional description for the Ecosystem type?  My lab will be posting reflectance spectra of inland waters in the future, but at the moment we have some spectra from a side project that involved asphalt, brick, and paving stone surfaces.  I think there's at least one other submission on Ecosis that works with man-made m

[2018-03-29 14:48] serbinsh commented on #65
Similarly there isn't an Arctic tundra ecosystem type which is a distinct PFT/ veg type

[2018-03-29 15:13] jrmerz commented on #65
@ckingdon FYI

[2018-04-20 04:10] jrmerz commented on #65
pushed to prod

[2018-04-20 04:10] #65 closed

[2018-12-20 02:05] jrmerz opened #66 "Test DataCite API on dev"

[2018-12-20 02:05] jrmerz opened #67 "Deploy DataCite DOI API to prod"

[2018-12-20 22:04] jrmerz opened #68 "Port DataCite EZ API to MDS API"
DataCite is only going to support the EZ API for two years.

[2019-01-07 03:43] #68 closed

[2019-01-19 16:32] #66 closed

[2019-01-19 16:34] jrmerz commented on #67
@erinwagner let's close this issue after we have successful test of minting DOI on production

[2021-01-18 17:14] jrmerz opened #73 "Separator spelling"
Kinda misspelled it everywhere :/

[2021-07-01 15:25] henryf6 opened #77 "Ecosis upload git error"
- Package ID: 93d2c85a-4b7b-4fb8-b54e-1a0c09f643c6
- Message: Request Error
- Code: 3
- User Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/14.1.1 Safari/605.1.15
- commit: e5a8ff921e9fd9f9c1a8eeb0c860c16c24c806fd
- version: v2.0.3
- branch: (no branch)

[2021-07-07 15:55] jrmerz commented on #77
This error was caused by the fact a DOI was requested prior to pushing to search, which shouldn't have been allowed.

[2021-10-19 18:05] amrutavidwans opened #78 "Error uploading Additional Resources"
- Package ID: b9b9e1d7-7263-45c5-bff7-c312bb4cf2ca
- Message: Request Error
- Code: 3
- User Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:92.0) Gecko/20100101 Firefox/92.0
- version:
- branch: ckan2.9-upgrade
- commit: 5833e3ef903308b7d44235e2c76edfe5099a55d5

I get the following error while uploading demo csv files with spectra and metadata
![Screen Shot 2021-10-19 at 1 02 24 PM](https

[2021-10-21 21:30] amrutavidwans commented on #78
I was able to upload csv files in the resources 👍

[2021-10-21 21:30] #78 closed

[2021-10-21 21:33] amrutavidwans opened #79 "Unable to edit Published Dataset"
I am not seeing the Manage button to edit dataset on the dataset page. Screenshot below:
![Screen Shot 2021-10-21 at 4 32 51 PM](https://user-images.githubusercontent.com/12546910/138360029-534a8360-0e6e-4000-8bd4-adfe58460cdc.png)

[2021-10-26 18:00] #79 closed, assigned to jrmerz

[2021-10-26 18:03] amrutavidwans opened #80 "Issue with cancelling the DOI request"
When the 'Cancel DOI Request' button is clicked the page is refreshed without the button changing to 'Request DOI'

![image](https://user-images.githubusercontent.com/12546910/138935344-4b2352d5-a62b-47cc-bc58-7348b1165222.png)

[2021-10-26 18:18] amrutavidwans opened #81 "Published dataset shows as not available on search"
dev-search shows dataset available publicly:
https://dev-search.ecosis.org/package/test-dataset-3

but dev-data shows the 'Not available in search' as seen in the screenshot
https://dev-data.ecosis.org/dataset/test-dataset-3

![image](https://user-images.githubusercontent.com/12546910/138937225-891a97e3-e69f-40e7-8d25-04c0a4da4332.png)

[2021-10-27 14:33] #81 closed, assigned to jrmerz

[2021-11-04 18:30] amrutavidwans opened #82 "Add license as compulsary field for public website/DOI request"
Hi Justin, I discussed with Phil and he is on-board with adding license as compulsory field. I have tagged it as 'enhancement' and 'ckan-2.9' for now, but feel free to change it to appropriate ones.
Thanks.

[2021-11-10 21:59] amrutavidwans opened #83 "Cannot download Alias Template"
I get the attached error when trying to download the Alias Template for [Test Dataset 3](https://dev-data.ecosis.org/dataset/test-dataset-3).
![Screen Shot 2021-11-10 at 3 55 36 PM](https://user-images.githubusercontent.com/12546910/141200165-4462fa77-4252-42e1-a9c7-cb14bd50f616.png)

When I try to cancel the DOI request I get Issue #80

[2021-11-24 21:06] amrutavidwans opened #84 "Providing Location Name does not create a bounding box on the map"
Providing Location Name in Location section in the Basic Information does not create a bounding box on the map.
Additionally, when the Location Name is provided and dataset is published, the Location appears as Not Provided.

![Screen Shot 2021-11-24 at 3 02 57 PM](https://user-images.githubusercontent.com/12546910/143312491-41ac45a6-fe33-4824-9e12-2fceadf76791.png)

[2021-11-24 21:19] amrutavidwans opened #85 "Location Name in Alias Template (or direct mapping in the UI) does not auto-populate Location in Basic Information"
Alias Template attached for 'Test fix' dummy dataset.
(json file converted to txt since github was not supporting to attach json file)
[test-fix-3.txt](https://github.com/CSTARS/ckanext-ecosis/files/7598742/test-fix-3.txt)

[2021-12-10 21:21] jrmerz commented on #85
I don't see a location set in the dataset: https://dev-data.ecosis.org/import/?id=20919512-e826-41aa-9a9f-781cd4ab8811

[2021-12-10 21:36] amrutavidwans commented on #85
It is provided in Advanced in Current Aliases:
![Screen Shot 2021-12-10 at 3 35 16 PM](https://user-images.githubusercontent.com/12546910/145644341-b13cbcb9-9bf7-4468-a5b3-71494fa48db5.png)

[2021-12-10 21:39] jrmerz commented on #84
Fix implemented here CSTARS/ecosis@bf16894bfa3da86330db691a2121068f2cad801d Accidently tagged commit message to #85

[2021-12-30 22:10] jrmerz commented on #82
deployed to dev.

I made license a required field for all new packages going forward.  Additionally, there is no longer a 'no license' option.

[2022-01-19 21:40] amrutavidwans commented on #82
Closing and creating a new bug for this.

[2022-01-19 21:40] #82 closed

[2022-01-19 21:41] amrutavidwans opened #86 "License provided but does not show on published dataset"
I provided 'Other (Not Open)' while creating test dataset, but it created the dataset with the license field blank. When I clicked publish, I was able to publish with the license field empty.
I was emailed this link for the search http://dev-search.ecosis.org/#result/4873f7c1-8a94-4565-b1c8-d954cda66ad7

[2022-01-19 21:44] amrutavidwans commented on #80
It is working now

[2022-01-19 21:44] #80 closed

[2022-01-19 21:46] amrutavidwans commented on #83
Download is working now.

[2022-01-19 21:46] #83 closed

[2022-01-19 21:46] amrutavidwans commented on #84
As per our discussion, this is not the intended use.

[2022-01-19 21:46] #84 closed

[2022-01-26 18:22] amrutavidwans opened #87 "DOI minted correctly but the EcoSIS UI shows 'This is NOT a real DOI' message"
Here is the screenshot of the message for the dataset [`Arctic Moss Spectral Reflectance Desiccation Experiment From Samples Collected in Northern Alaska`](https://data.ecosis.org/dataset/arctic-moss-spectral-reflectance-desiccation-experiment-from-samples-collected-in-northern-alaska)
![Screen Shot 2022-01-26 at 11 50 30 AM](https://user-images.githubusercontent.com/12546910/151223231-b70e3da1-06

[2022-05-22 17:36] jrmerz commented on #86
tested locally, unable to reproduce.  closing for now.

[2022-05-22 17:36] #86 closed